/Web.UI/Vue/node_modules/
/Core/.idea/.idea.AtmosphericSounding/.idea/.name
/Core/.idea/.idea.AtmosphericSounding/.idea/contentModel.xml
/Core/.idea/.idea.AtmosphericSounding/.idea/dictionaries/krivtsov.xml
/Core/.idea/.idea.AtmosphericSounding/.idea/indexLayout.xml
/Core/.idea/.idea.AtmosphericSounding/.idea/modules.xml
/Core/.idea/.idea.AtmosphericSounding/.idea/projectSettingsUpdater.xml
/Core/.idea/.idea.AtmosphericSounding/.idea/vcs.xml
/Core/.idea/.idea.AtmosphericSounding/riderModule.iml
